.container{
    display: flex;
    flex-wrap: wrap;  
    margin: 10px;
  
    
}

.menu{
    flex: 30%;
    background-color: #dbd35e;
    padding: 20px; 
    border-style: solid;
    border-color: purple;
    color: white;
    


}

.details{
    flex: 70%;
    background-color: #bcd44f;
    padding: 20px; 
    border-style: solid;
    border-color: purple;
    color: white;
   


}




    header {
        padding: 10px;
        background-color:rgba(255, 71, 71, 0.6);
        margin: 10px;
        color: white
    }



